 @charset "utf-8";
/* CSS Document */
/* terms_of_use.css */
/****************************************************************************************

    Terms of Use

****************************************************************************************/


/*----------------------------------

    コンテンツ

----------------------------------*/

.aboutBox {
    width:70%;
    background:#ffebee;
    padding:5% 15%;
    height:auto;
    border-radius:10px;
    border-top: none;
    width: 100%;
    box-sizing: border-box;
}
.aboutBox h2, .aboutBox ul, .aboutBox ul li, .aboutBox p {
    margin-bottom:15px;
}
.aboutBox h2 {
    background: #f45f77;
    padding:1.5%;
    color:#FFF;
    text-align:center;
    border-radius:50px;
}
.aboutBox ul {
  padding:1%;
}
.aboutBox p {
  padding: 1% 1em 3%;
}
.aboutBox ul li {
  list-style-type: decimal;
  margin-left: 1.5em;
  margin-right: 1em;
  list-style-position: outside;
}
.aboutBox ul li ul li {
  list-style-type: lower-alpha;
  margin-left: 0.5em;
}
.aboutBox ul li ul li:first-child {
  margin-top: 10px;
}

/*----------------------------------------------------------------------------------------------------

    ★640px以下の場合

----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 640px){

  .aboutBox {
    width:100%;
    background:#ffebee;
    padding:5%;
    height:auto;
    border-radius:0px;
    margin:0;
  }
  .aboutBox h2 {
    text-align: left;
    padding: 1.5% 6%;
  }

}
